@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<link href="~/Content/Features/SmartPlan/ProgressIndicator.css" rel="stylesheet" />
<section>

         <ul class="SteppedProgress">
                <li class="complete">
                    <span>
                        ข้อมูลส่วนบุคคล

                         
                    </span>
                </li>
                <li class="complete">
                    <span>
                        ข้อมูลทางการเงิน

                      
                    </span>
                </li>
                <li class="disabled">
                    <span>
                        วิเคราะห์สุขภาพทางการเงิน

                        
                    </span>
                </li>
            </ul>

    <div id="StepIndicate"></div>
    <div id="Step1"></div>
    <div id="Step2"></div>
    <div id="Step3"></div>
    <div id="Step4"></div>
    <div id="Step5"></div>
</section>